.DS_Store
qiskit-offline-docker/prod/docker-python3.8.2-buster.tar.gz
qiskit-offline-docker/prod/rootfs-debian-buster.tar.xz
qiskit-offline-docker/dev/docker-image-buster-slim.tar.gz
qiskit-offline-docker/dev/rootfs-debian-buster.tar.xz
qiskit-jupyter/notebooks/tutorials/.ipynb_checkpoints
qiskit-jupyter/notebooks/.ipynb_checkpoints
qiskit-jupyter/notebooks/quantum_gates/imgs/.ipynb_checkpoints
qiskit-jupyter/notebooks/quantum_gates/.ipynb_checkpoints
qiskit-jupyter/examples/.ipynb_checkpoints
qiskit-offline-docker/dev/qiskit-jupyter/notebooks/tutorials/.ipynb_checkpoints
qiskit-offline-docker/dev/qiskit-jupyter/notebooks/.ipynb_checkpoints
qiskit-offline-docker/dev/qiskit-jupyter/notebooks/quantum_gates/imgs/.ipynb_checkpoints
qiskit-offline-docker/dev/qiskit-jupyter/notebooks/quantum_gates/.ipynb_checkpoints
qiskit-offline-docker/dev/qiskit-jupyter/examples/.ipynb_checkpoints
qiskit-offline-docker/prod/qiskit-jupyter/notebooks/tutorials/.ipynb_checkpoints
qiskit-offline-docker/prod/qiskit-jupyter/notebooks/.ipynb_checkpoints
qiskit-offline-docker/prod/qiskit-jupyter/notebooks/quantum_gates/imgs/.ipynb_checkpoints
qiskit-offline-docker/prod/qiskit-jupyter/notebooks/quantum_gates/.ipynb_checkpoints
qiskit-offline-docker/prod/qiskit-jupyter/examples/.ipynb_checkpoints
qiskit-offline-docker/prod/qiskit-jupyter/.ipynb_checkpoints
qiskit-offline-docker/dev/qiskit-jupyter/.ipynb_checkpoints
qiskit-jupyter/.ipynb_checkpoints
token.txt
latex/hadamard_operations/*.log
latex/hadamard_operations/*.synctex.gz
latex/hadamard_operations/*.aux
qiskit-jupyter/notebooks/tutorials/more_tutorials/.ipynb_checkpoints/
qiskit-0.18.0.zip
qiskit-jupyter/quantum_challenge_2020
qiskit-jupyter/qcqp
qiskit-jupyter/qcwpiqe
qiskit-jupyter/ML+QML
test
qiskit-jupyter/quantum_challenge_may_2021
qiskit-jupyter/.Trash-1000
qiskit-jupyter/pennylane
qiskit-jupyter/qiskit-textbook
qiskit-jupyter/test
qiskit-jupyter/tutorials-qiskit
qiskit-jupyter/advocate-test-20200715-1
qiskit-jupyter/notebooks/quantum-drawing/.ipynb_checkpoints
qiskit-jupyter/notebooks/quantum-drawing/__pycache__
qiskit-jupyter/qss-2021
