.DS_Store
qiskit-offline-docker/prod/docker-python3.8.2-buster.tar.gz
qiskit-offline-docker/prod/rootfs-debian-buster.tar.xz
qiskit-offline-docker/dev/docker-image-buster-slim.tar.gz
qiskit-offline-docker/dev/rootfs-debian-buster.tar.xz
notebooks/.ipynb_checkpoints
examples/.ipynb_checkpoints
token.txt
notebooks/tutorials/.ipynb_checkpoints
notebooks/notebook_gates/.ipynb_checkpoints/
